.videoContainer {
    display: flex;
    width: 100%;
    height: 470px;
    background-color: #000;
    border-radius: 30px;
    margin-left: 7px;
    margin-top: 13px;
    position: relative;
}

.descripcion_Video {
    color: #fff;
    position: absolute;
    display: flex;
    font-family: "Lora", serif;
    padding: 7px;
    margin-left: 850px;
    margin-top: 10px;
}

.contenedor_del_div {
    display: flex;
    flex-direction: column;
    width: 300px;
    color: #fff;
    margin-left: 850px;
    margin-top: 100px;
}

.descripcion_del_video {
    display: flex;
    flex-direction: row;
    font: 700;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.descripcion_Video_D {
    display: flex;

}

.descripcion_Video:hover {
    color: olivedrab;
}

.descripcion_video_contenedor {
    display: flex;
}

.titulo_video {
    color: #fff;
    position: absolute;
    display: flex;
    font-family: "Lora", serif;
    padding: 7px;
    margin-left: 120px;
    margin-top: 10px;
}



.titulo_video:hover {
    color: olivedrab;
}

.Player{
    display: flex;
    position: absolute;
    margin-top: 80px;
    margin-left: 45px;
    border-radius: 7px;
    border: 1px solid #fff;
}

.videoContainer > p {
    color: white;
}

.descripcion_video {
    display: flex;
    position: absolute;
    margin-top: 320px;
    margin-left: 5px;
    font: 700;
    font-size: 14px;
    font-weight: 700;
    margin-right: 5px;
}

